:root {
  --primary-light: #f2f8fc;
  --primary: #0074de;
  --primary-hover: #0d64bc;
  --dark-gray: #55585e;
}

@font-face {
  font-family: 'Ronnia Extrabold Italic';
  src: url('https://db.onlinewebfonts.com/t/da33c3569757096031afceba6d88ec03.woff')
    format('woff');
}

@font-face {
  font-family: 'Scto Grotesk A';
  src: url('https://db.onlinewebfonts.com/t/c1dadd1119436dde0f9ab3c947d1e62f.woff')
    format('woff');
}

html {
  font-family: 'Scto Grotesk A';
  background-color: var(--primary-light);
}

body {
  margin: 0;
}

h1 {
  font-family: 'Ronnia Extrabold Italic';
  color: var(--primary);
}

h3 {
  color: var(--dark-gray);
}

.navbar {
  background-color: white;
}

.navbar h1 {
  margin: 0;
  padding: 1rem;
}

.navbar h1 a {
  text-decoration: none;
}

main {
  padding: 2rem;
}

.width-container {
  max-width: 600px;
  margin: 0 auto;
}

.button,
input[type='file']::file-selector-button {
  background-color: var(--primary);
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-size: 18px;
  border-radius: 2rem;
}

.button:hover {
  background-color: var(--primary-hover);
}

.button.outlined-button {
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.button.outlined-button:hover {
  background-color: var(--primary);
  color: white;
}

.button:disabled {
  background-color: #d6edfd;
  color: #5f91c3;
  cursor: not-allowed;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.drop-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rounded-corners {
  border-radius: 0.5rem;
}

.right-align {
  text-align: right;
}

.breadcrumbs {
  padding: 1rem 0;
  margin: 0 2rem;
  color: var(--dark-gray);
  border-bottom: 1px solid #dddddd;
}

.breadcrumbs a {
  font-style: unset;
}

.breadcrumbs a.active {
  pointer-events: none;
  color: var(--dark-gray);
  font-weight: bold;
}
