:root {
  --primary-light: #f2f8fc;
  --primary: #0074de;
  --primary-hover: #0d64bc;
  --dark-gray: #55585e;
}

@font-face {
  font-family: 'Ronnia Extrabold Italic';
  src: url('https://db.onlinewebfonts.com/t/da33c3569757096031afceba6d88ec03.woff')
    format('woff');
}

@font-face {
  font-family: 'Scto Grotesk A';
  src: url('https://db.onlinewebfonts.com/t/c1dadd1119436dde0f9ab3c947d1e62f.woff')
    format('woff');
}

html {
  font-family: 'Scto Grotesk A';
  background-color: var(--primary-light);
}

h1 {
  font-family: 'Ronnia Extrabold Italic';
  color: var(--primary);
}

h3 {
  color: var(--dark-gray);
}

main {
  margin: 2rem;
}

.button {
  background-color: var(--primary);
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-size: 18px;
  border-radius: 2rem;
}

.button:hover {
  background-color: var(--primary-hover);
}

.white-button {
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.white-button:hover {
  background-color: var(--primary);
  color: white;
}

a {
  color: var(--primary);
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: none;
}

.drop-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.right-align {
  text-align: right;
}

.breadcrumbs {
  color: var(--dark-gray);
}

.breadcrumbs a.active {
  pointer-events: none;
  color: var(--dark-gray);
}
