<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Venmo Tithing Calculator</title>
    <style>
      .step-one-screenshot {
        width: 100%;
        border: 1px solid var(--light-gray);
      }

      .step {
        margin: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .step-header {
        text-align: center;
      }

      .csv-input {
        display: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar drop-shadow">
      <h1><a href="/">Venmo Tithing Calculator</a></h1>
    </nav>
    <div class="breadcrumbs">
      <a href="/" class="active">Instructions</a>
    </div>
    <main>
      <div class="width-container">
        <div class="step step-one">
          <h3 class="step-header">
            Step 1: Download month transactions from
            <a href="https://account.venmo.com/statement" target="_blank"
              >venmo.com</a
            >
          </h3>
          <a href="https://account.venmo.com/statement" target="_blank">
            <img
              src="{{ url_for('static', filename='venmo-screenshot.png') }}"
              alt="Venmo Screenshoot"
              class="step-one-screenshot drop-sdhadow rounded-corners"
            />
          </a>
        </div>
        <form
          action="{{ url_for('process_csv') }}"
          enctype="multipart/form-data"
          method="post"
        >
          <div class="step step-two">
            <h3 class="step-header">
              Step 2: Upload that <code>transaction_history.csv</code> file
              below
            </h3>
            <input
              accept=".csv"
              class="csv-input"
              id="csv-input"
              name="csv-input"
              onchange="checkIfReadyForUpload()"
              required
              type="file"
            />
            <label for="csv-input" class="button" id="choose-file-button"
              >Choose File</label
            >
          </div>
          <div class="step step-three">
            <h3 class="step-header">
              Step 3: Calculate tithing on your Venmo income
            </h3>
            <button
              type="submit"
              disabled
              class="button"
              id="calculate-tithing-button"
            >
              Calculate Tithing
            </button>
          </div>
        </form>
      </div>
    </main>
    <script>
      const csvInput = document.getElementById('csv-input');
      const chooseFileButton = document.getElementById('choose-file-button');
      const calculateTithingButton = document.getElementById(
        'calculate-tithing-button'
      );

      // Drag and drop functionality
      chooseFileButton.addEventListener('dragenter', function (event) {
        event.preventDefault();
      });
      chooseFileButton.addEventListener('dragover', function (event) {
        event.preventDefault();
      });
      chooseFileButton.addEventListener('drop', function (event) {
        event.preventDefault();
        csvInput.files = event.dataTransfer.files;
        checkIfReadyForUpload();
      });

      function checkIfReadyForUpload() {
        const hasFileReadyForUpload = csvInput.files.length > 0;
        if (hasFileReadyForUpload) {
          calculateTithingButton.disabled = false;
          chooseFileButton.textContent = `Replace ${csvInput.files[0].name}`;
          chooseFileButton.classList.add('outlined-button');
        } else {
          calculateTithingButton.disabled = true;
          chooseFileButton.textContent = 'Choose File';
          chooseFileButton.classList.remove('outlined-button');
        }
      }
    </script>
  </body>
</html>
