<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Venmo Tithing Calculator</title>
    <style>
      .step-one-screenshot {
        width: 100%;
        max-width: 500px;
        margin: 1rem;
      }

      .step-one-details,
      .step-two-details {
        margin: 2rem;
      }

      .calculate-tithing-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>venmo tithing calculator</h1>
    <h3>Instructions</h3>
    <div class="step-one">
      <p>Step 1: Download your Venmo transactions as a CSV file.</p>
      <div class="step-one-details">
        <img
          src="{{ url_for('static', filename='venmo-screenshot.png') }}"
          alt="Venmo Screenshoot"
          class="step-one-screenshot"
        />
        <p>
          Visit
          <a href="https://account.venmo.com/statement"
            >https://account.venmo.com/statement</a
          >, where you will sign into your Venmo account. Then you'll see an
          "Account Statement" screen, where you can select the month you want to
          download. Then hit "Download CSV" and it will download to your
          computer.
        </p>
      </div>
    </div>
    <div class="step-two">
      <p>Step 2: Upload the CSV you just downloaded below!</p>
      <div class="step-two-details">
        <form
          action="{{ url_for('process_csv') }}"
          enctype="multipart/form-data"
          method="post"
        >
          <label for="transactions-csv">CSV:</label>
          <input
            type="file"
            id="transactions-csv"
            name="transactions-csv"
            accept=".csv"
            required
          />
          <br />
          <button type="submit" class="button calculate-tithing-button">
            Calculate Tithing
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
